:root {
  box-sizing: border-box;
  font-size: 62.5%;
  --mainCol: red;
  --secCol: blue;
  --tertCol: green;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
}

header {
  width: 100%;
  padding: 1rem;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(117, 172, 173);
}

header > form {
  display: flex;
}

.search-bar {
  padding-left: 8px;
  height: 3.3rem;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: none;
  outline: none;
}

#geo-search {
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  outline: none;
}

#geo-search:hover {
  background-color: rgb(183, 192, 204);
}

main {
  background-color: rgb(175, 186, 207);
  width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "main-temp icon"
    "title title"
    "info info";
  place-items: start;
}

.title {
  grid-area: title;
}

.main-temp {
  grid-area: main-temp;
  font-size: 6rem;
}

.icon {
  place-self: center;
  grid-area: icon;
  width: 50%;
}

footer {
  background-color: rgb(202, 150, 113);
  min-height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  padding: 0 4px;
}

footer > a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

footer > a:hover {
  color: white;
  text-decoration: underline;
}
