:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
}

header {
  width: 100%;
  padding: 1rem;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(117, 172, 173);
}

.search-bar {
  height: 30px;
}

main {
  background-color: rgb(175, 186, 207);
  width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "main-temp icon"
    "title title"
    "info info";
  place-items: start;
}

.title {
  grid-area: title;
}

.main-temp {
  grid-area: main-temp;
  font-size: 6rem;
}

.icon {
  place-self: center;
  grid-area: icon;
  width: 50%;
}

footer {
  background-color: rgb(202, 150, 113);
  min-height: 4rem;
  width: 100%;
  display: grid;
  place-items: center;
}
